* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}

/*#juego{
    width: 200vw;
    height: 100vh;
    overflow: hidden;
    background: url('../img/fondo.jpg');
    background-position: center left;
}*/

.layer {
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: repeat-x;
    position: absolute;
}

.l1 {
    background-image: url('../img/layer_07_2048\ x\ 1546.png');
    
  }

.l2 {
    background-image: url('../img/layer_06_2048\ x\ 1546.png'); 
    animation: movebg 7s infinite linear;
  }

.l3 {
    background-image: url('../img/layer_05_2048\ x\ 1546.png');
    animation: movebg 6s infinite linear;
    }

.l4 {
    background-image: url('../img/layer_04_2048\ x\ 1546.png');
    animation: movebg 4s infinite linear;
    }

.l5 {
    background-image: url('../img/layer_03_2048\ x\ 1546.png');
    animation: movebg 3s infinite linear;
    }

.l6 {
    background-image: url('../img/layer_02_2048\ x\ 1546.png');
    animation: movebg 2s infinite linear;
    }

.l7 {
    background-image: url('../img/layer_01_2048\ x\ 1546.png');
    animation: movebg 1s infinite linear;
    }

#tuberia{
    width: 45px;
    height: 100vh;
    background: url('../img/tuberia.jpg');
    background-position: center;
    background-size: contain;
    position: relative;
}

#cartelHasPerdido {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#cartelHasPerdido .titulo, 
#cartelHasPerdido .puntos,
#cartelHasPerdido button {
    position: absolute;
    z-index: 1;
    left: calc(50% - 102px);
    top: 40%;
    width: 205px;
    text-align: center;
    color: red;
    font-family: 'PixelarRegularW01-Regular';
    font-weight: normal;
}
#cartelHasPerdido .titulo {
    margin-top: -50px;
    font-size: 40px;
    color: red;
}
#cartelHasPerdido .puntos {
    font-size: 30px;
}
#cartelHasPerdido button {
    margin-top: 50px;
    font-size: 24px;
    color: black;
    padding: 5px 25px;
    cursor: pointer;
    border: 0;
}

#espacio {
    width: 45px;
    height: 193px;
    background: url('../img/espacio.jpg');
    background-size: cover;
    position: relative;
    top: -500px;
    background-repeat: no-repeat;
    opacity: 0.6;
    filter: sepia(50%);
    

    top: -700px;
}

#tuberia, #espacio{
    left: 10vw;
}

#puntaje {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 30px;
    font-weight: normal;
}

#moneda {
    width: 50px;
    height: 50px;
    position: absolute;
    background: url('../img/moneda.png');
    background-size: contain;
    background-position: center;
    /* background-repeat: no-repeat;
    top: 20vh;
    left: 20vw; */
}

/* #pajaro {
    width: 40px;
    height: 30px;
    position: absolute;
    background: url('../img/pajaro.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 20vh;
    left: 20vw;
} */
#pajaro {
    /*JUGANDO CON WIDTH:40 Y HEIGH 30 ANDA BIEN*/
    width: 40px;
    height: 30px;
    /* width: 109.8px;
    height: 150px; */
   
  /* background-size: contain; */
 /*  background-repeat: no-repeat; */
  /* top: 20vh;
  left: 20vw;  */
  background: url('../img/pajaroNegroprueba.png') repeat-x; 
  animation: fly .8s steps(10) infinite;
  /* 
  background: url('../img/pajaro.png');
  bottom: 34px;
  */
  margin: auto;
  position: absolute;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.volar{
    animation: volar 0.2s;
    animation-fill-mode: forwards;
}

.bajar{
    animation: bajar 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fly {
    0%{
        background-position: 0;
    }
    100%{
        background-position: -400px;
    }
}

@keyframes movimientoTuberias {
    0%{
        left: 100vw;
    }
    100%{
        left: -50px;
    }
}

@keyframes animacionMoneda {
    0%{
        left: 50vw;
    }
    100%{
        left: -50px;
    }
}

/* @keyframes agarroMoneda {
    100%{
        transform: translateY(-700px);
    }
} */


@keyframes volar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-35deg );
    }
}

@keyframes bajar {
    0%{
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(35deg );
    }
}

@keyframes movebg {
    0% {
        background-position: 2048px;
    }
    100%{
        background-position: 0;
    }
}