* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}

.layer { /* Clase comun de todas las capas */
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: repeat-x;
    position: absolute;
}

/*Efecto Parallax con 7 capas diferentes */
.l1 {
    background-image: url('../img/layer_07_2048\ x\ 1546.png'); /* luna */
  }

.l2 {
    background-image: url('../img/layer_06_2048\ x\ 1546.png'); /* estrellas */
  }
/* 
.l3 {
    background-image: url('../img/layer_05_2048\ x\ 1546.png');
    }

.l4 {
    background-image: url('../img/layer_04_2048\ x\ 1546.png');
    } */

.l5 {
    background-image: url('../img/layer_03_2048\ x\ 1546.png'); /* arboles negros */
    }

/* .l6 {
    background-image: url('../img/layer_02_2048\ x\ 1546.png');
    } */

/* .l7 {
    background-image: url('../img/layer_01_2048\ x\ 1546.png');
    } */

#tuberia{
    width: 45px;
    height: 100vh; /*Tuberia con altura del total de la pantalla */
    background: url('../img/tuberia.jpg');
    background-position: center;
    background-size: contain;
    position: relative;
}

#cartelHasPerdido {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#cartelHasPerdido .titulo, 
#cartelHasPerdido .puntos,
#cartelHasPerdido .config,
#cartelHasPerdido .replay {
    position: absolute;
    z-index: 1;
    left: calc(50% - 102px);
    top: 40%;
    width: 205px;
    text-align: center;
    color: red;
    font-family: 'PixelarRegularW01-Regular';
    font-weight: normal;
}
#cartelHasPerdido .titulo {
    margin-top: -50px;
    font-size: 40px;
    color: red;
}
#cartelHasPerdido .puntos {
    font-size: 30px;
}
#cartelHasPerdido .config {
    margin-top: 60px;
    font-size: 18px;
    color: black;
    padding: 5px 25px;
    cursor: pointer;
    border: 0;
}
#cartelHasPerdido .replay {
    margin-top: 100px;
    font-size: 24px;
    color: black;
    padding: 5px 25px;
    cursor: pointer;
    border: 0;
}

#espacio {
    width: 45px;
    height: 193px;
    background: url('../img/espacio.jpg');
    background-size: cover;
    position: relative;
    top: -500px;
    background-repeat: no-repeat;
    opacity: 0.6;
    filter: sepia(50%);
    top: -700px;
}

#tuberia, #espacio{
    left: 10vw;
}

#puntaje, .informativo {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 30px;
    font-weight: normal;
}

.informativo {
    left: 200px;
}

#moneda {
    width: 50px;
    height: 50px;
    position: absolute;
    background: url('../img/moneda.png');
    background-size: contain;
    background-position: center;
    animation: animacionMoneda .1s infinite;
}

#pajaro {
    width: 40px;
    height: 30px;
    background: url('../img/pajaroNaranja.png') repeat-x; 
    animation: fly .8s steps(10) infinite;
    margin: auto;
    position: absolute;

}

.volar{ /* Inclinacion del pajaro hacia arriba */
    animation: volar 0.2s;
    animation-fill-mode: forwards;
}

.bajar{ /*Inclinacion del pajaro hacia abajo*/
    animation: bajar 0.2s;
    animation-fill-mode: forwards;
}

@keyframes cambiarColor { /*Animacion movimiento del pajaro */
    0%{
        background: url('../img/pajaroNaranja.png');
    }
    100%{
        background-position: -400px;    
    }
}

@keyframes fly { /*Animacion movimiento del pajaro */
    0%{
        background-position: 0;
    }
    100%{
        background-position: -400px;
    }
}

@keyframes movimientoTuberias { /*Animacion moviento de las tuberias */
    0%{
        left: 100vw;
    }
    100%{
        left: -50px;
    }
}

@keyframes animacionMoneda { /*Animacion posicionamiento de la moneda */
    0%{
        left: 50vw;
        transform: rotate(0deg);
    }
    100%{
        left: -50px;
        transform: rotate(180deg);
    }
}

@keyframes volar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-35deg );
    }
}

@keyframes bajar {
    0%{
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(35deg );
    }
}

@keyframes movebg { /* Animacion del fondo con efecto parallaz */
    0% {
        background-position: 0;
    }
    100%{
        background-position: -2048px;
    }
}

@keyframes rip {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform:rotate(90deg);
    }
    50%{
        transform:rotate(180deg);
    }
    75%{
        transform:rotate(270deg);
    }
    100%{
        transform:rotate(360deg);
        height:40px;
        background-image: url(../img/muerte.png);
        background-size: cover;
    }
}