body{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
}

/*----- SECCION CHAT -------*/

.container {
    display: flex;
    height: calc(100vh - 40px);
    width: 100%;
    overflow-y: auto;
    border: 1px;
}

.chat img {
    height: 40px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.estado {
    display: flex;
    align-items: center;
}

.chat h6, h5 {
    position: relative;
    left: 45px;
    top: 7px;
    margin-top: 7px;
    padding-left: 10px;
}

.chat .txt-fecha {
    position: absolute;
    top: 23px;
    left: 80%;
    
}

.circuloVerde, .circuloRojo {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.circuloVerde {
    background-color: green;
}

.circuloRojo {
    background-color: red;
}

.listadoChats {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    /* height: 100%; */
    background-color: white;
    /* left: 50px; */
    /* overflow-y:scroll; */
    overflow-x: hidden;
    /* overflow: hidden; */
    /* overflow: auto; */
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.25));
}

.listadoChats h4 {
    background-color: #c9c9c9;
    text-align: center;
    padding: 10px;
}

.listadoChats input {
    width: 100%;
    padding: 10px;
}

.chat {
    width: 100%;
    height: 60px;
    position: relative;
}

.chatSeleccionado {
    background-color: white;
    /* AD85FF */
}

.chat:hover {
    background-color: #8447ff62;
}

/*------- CHAT INDIVIDUAL MOBILE ---------------*/
.chatIndividual {
    display: none;
    width: 100%;
    height: calc(100vh - 40px);
    background-color: white;
    position: relative;
} 

.headerChat {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #c9c9c9;
   /*  margin-top: 5px;
    margin-bottom: 5px; */
}

.headerChat #imgPerfil {
    width: 60px;
    height: auto;
}

.headerChat .imgVideoLlamada {
    width: 24px;
    height: auto;
}

.bodyChat {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mensaje {
    display: flex;
    padding: 20px;
}

.mensajeEnviado {
    justify-content: end;
}

.mensaje p {
    margin: 0px 5px 0px 5px;
    padding: 10px;
    border-radius: 5%;
    max-width: 50%;
}

.mensajeEnviado p {
    background-color: #57CBA8;
}

.mensajeRecibido p {
    background-color: #C9C9C9;
}

.mensaje #imgPerfil {
    width: 35px;
    height: 35px;
}

.footerChat {
    /* height: 60px; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding-bottom: 10px; */
}

.div-uno, .div-dos {
    display: flex;
    align-items: center;
}

.div-uno {
    width: calc(100% - 60px);
}

.footerChat .escribirMensaje .div-dos img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.footerChat .escribirMensaje .div-uno img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.footerChat .escribirMensaje .div-uno input {
    width: calc(100% - 34px);
    padding: 4px 0;
}

.footerChat #imgPerfil {
    display: none;
}

.footerChat .escribirMensaje {
    /* background-color: #c9c9c9;
    border-radius: 15px; */
    height: 35px;
    width: 100%;
    display: flex;
    border-top: 1px solid black;
    /* justify-content: space-between; */
    align-items: center;
    padding: 5px;
}

.escribirMensaje input {
    background: none;
    border: none;
}

html {
    max-height: 100vh;
    overflow: hidden;
}

.headerContacto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerContacto h4 {
    padding-left: 15px;
}

.menu li img{
    width: 26px;
    height: 26px;
}

nav .menu li .input-buscar{
    display: none;
}

nav {
    background-color: #8447FF;
    padding: 5px 20px;
    position: absolute;
    top: 94%;
    z-index: 1000;
    width: 100%;
}

#img-lupa {
    margin-right: 10px;
}


.dropdown-content {
    bottom: 40px;
    background-color: white;
    right: 20px;
}


@media only screen and (min-width: 900px) {
    .dropdown-content {
        /* top: 64px; */
        bottom: -130px;
        background-color: white;
        right: 20px;
    }

    .menu li section {
        display: flex;
        align-items: center;
    }
    #imgMensaje {
        height: 30px;
        width: 30px;
    }

    .menu li img{
        height: 50px;
        width: auto;
    }

    .headerChat .imgVideoLlamada {
        width: 30px;
        height: auto;
    }

    .footerChat {
        /* height: 60px; */
        width: 100%;
        display: flex;
        justify-content: center;
        /* padding-bottom: 10px; */
    }
    
    .footerChat .escribirMensaje .div-dos img {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        /* margin: 10px; */
    }
    
    .footerChat .escribirMensaje .div-uno img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
    
    
    .footerChat .escribirMensaje .div-uno input {
        width: calc(100% - 34px);
        padding: 4px 0;
    }

    nav .menu li .input-buscar{
        display: block;
        height: 35px;
        border-radius: 10px;
        border: 0;
        width: 300px;
        padding: 10px;
        position: sticky;
        top: -1px;
        z-index: 1000;
    }
    .container {
        display: flex;
        height: calc(100vh - 60px);
        width: 100%;
        overflow-y: auto;
        border: 1px;
    }
    nav {
        background-color: #8447FF;
        padding: 5px 20px;
        position: absolute;
        z-index: 1000;
        width: 100%;
        position: sticky;
        top: -1px;
    }

    .chatSeleccionado {
        background-color: #8447FF;
    }

    #img-lupa {
        display: none;
    }

    .div-uno {
        width: calc(100% - 93px);
    }

    
/*---------------- CHAT INDIVIDUAL -------------------*/
.chatIndividual {
    width: 650px;
    height: 100%;
    left: 200px;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.432));
} 

.headerChat .volverListado {
    display: none;
}

.headerContacto {
    width: calc(65% - 30px);
    justify-content: space-between;
}

.footerChat {
    padding-bottom: 10px;
}

/* .footerChat .escribirMensaje {
    width: 100%;
} */

    .listadoChats {
        width: 300px;
        height: 100%;
        position: relative;
        left: 50px;
        overflow-y:scroll;
        overflow-x: hidden;
    }

    .chatIndividual {
        display: block;
    }
}