.container {
    display: flex;
}

.chat img {
    height: 40px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.estado{
    display: flex;
}

.chat .estado,h5 {
    position: relative;
    left: 45px;
    top: 7px;
    margin-top: 7px;
    
}

.circuloVerde {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
}

.listadoChats {
    width: 300px;
    height: 580px;
    background-color: white;
    position: relative;
    left: 50px;
}

.listadoChats h4 {
    background-color: rgb(175, 175, 175);
}

.chat {
    width: 100%;
    height: 10%;
    position: relative;
}

.chatSeleccionado {
    background-color: #8447FF;
}

.chat:hover {
    background-color: #8447ff62;
}

.chatIndividual {
    width: 650px;
    height: 580px;
    background-color: white;
    position: relative;
    left: 200px;
} 

.headerChat {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.headerChat #imgPerfil {
    width: 60px;
    height: 60px;
}

.headerChat .imgVideoLlamada {
    width: 30px;
    height: 30px;
}

.bodyChat {
    height: 80%;
    width: 100%;
}

.mensaje {
    display: flex;
    padding: 20px;
}

.mensajeEnviado {
    justify-content: end;
}

.mensaje p {
    margin: 0px 5px 0px 5px;
    padding: 10px;
    border-radius: 5%;
}

.mensajeEnviado p{
    background-color: #57CBA8;
}

.mensajeRecibido p{
    background-color: #C9C9C9;
}

.mensaje #imgPerfil {
    width: 35px;
    height: 35px;
}

.footerChat {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerChat .escribirMensaje img {
    width: 25px;
    height: 25px;
}

.footerChat #imgPerfil {
    width: 40px;
    height: 40px;
}

.footerChat .escribirMensaje {
    background-color: #c4c4c4;
    border-radius: 5%;
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.escribirMensaje input {
    background: none;
    border: none;
}