/* ESTRUCTURA */

.home {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.publicidad, .sugerencias {
    width: 25%;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.418));
}

/* DIV CENTRAL, PUBLICACIONES Y CREAR */
.publicaciones {
  margin-left: 25%;
    width: 50%;
    
  }

  img {
    cursor: pointer;
  }

 
  /* form .headerPublicacion .contenido p {
    margin: 0 15px;
  } */
  
  

/*--------------      PUBLICIDAD      -------------------------------------*/
.publicidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.publicidad div {
  margin: 3vh 0;
}

.imgPublicidad{
  width: 280px;
  border: 1px solid green;
}

/*------------ SUGERENCIA INDIVIDUAL -----------------*/
.sugerencias {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
}

.sugerenciaIndividual {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10%;
  margin: 2vh 0;
  height: 190px;
  width: 148px;
  padding-top: 10px;
  
}

.sugerenciaIndividual img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.sugerenciaIndividual h4 {
  padding: 10px 0;
}

.sugerenciaIndividual p {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 1px;
  color: black;
  font-weight: bold;
}