/* ESTRUCTURA */
.home {
    display: flex;
    flex-direction: row;
}

.publicidad, .sugerencias {
    width: 25%;
}

.publicidad, .sugerencias {
    border: 1px solid red;
}



/* DIV CENTRAL, PUBLICACIONES Y CREAR */
.publicaciones {
    width: 50%;
    
  }

  

  img {
    cursor: pointer;
  }

 
  /* form .headerPublicacion .contenido p {
    margin: 0 15px;
  } */
  
  

/*--------------      PUBLICIDAD      -------------------------------------*/
.publicidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.publicidad div {
  height: auto;
}

.imgPublicidad {
  border: 1px solid green;
}

.imgPublicidad{
  height: 50%;
  width: auto;
}