.l0 {
    background-image: url("../img/fondoLogin.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l1 {
    background-image: url('../img/capa1.png'); 
  }

.l2 {
    background-image: url('../img/capa2.png'); 
}

.conteiner-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 58px 58px 28px;
    width: 450px;
    background-color: #8447FF;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.conteiner-form, .registrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-form {
    width: 100%;
}

.conteiner-login img {
    margin-top: 10px;
    max-width: 50px;
}

.conteiner-login form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}

#olvidasteContraseña {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

h1, h2, label, p {
    color: white;
}

.conteiner-login .conteiner-form h2 {
    margin: 15px 0;
}

.registrar {
    margin-top: 24px;
}

a {
    text-decoration: none;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.form-field label {
    font-size: 13px;
    color: black;
    margin-bottom: 4px;
}

.form-field input {
    width: 100%;
    color: black;
    padding: 2px 4px;
}

#msj-error {
    font-size: 14px;
    display: none;
    color: rgb(241, 203, 209);

}

#requisitoContraseña{
    list-style: circle;
    color: rgb(241, 203, 209);

}

/* BOTONES */
button {
    height: 30px;
    width: 200px;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

#btn-iniciar-sesion {
    margin-top: 14px;
    width: 100%;
}

.botonActivado/* , #btn-iniciar-sesion */ {
    color: black;
    background-color: #8CFFDA;
}

.botonActivado:hover/* ,#btn-iniciar-sesion:hover */ {
    background-color: #57CBA8;
}

#btn-ingresar, #btn-registrar {
    color: black;
    background-color: #8CFFDA;
}

#link-crear-cuenta {
    font-weight: bold;
    color: #57CBA8;
}
/* #btn-ingresar:hover, #btn-registrar:hover {
    background-color: #57CBA8;
} */

/* INPUTS */
input {
    outline: none;
    width: 200px;
    height: 25px;        
}

/*----------- MENSAJE DE CONFIRMACION -------------*/
.msj-confirmacion {
    display: none;
}

.msj-confirmacion-visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msj-confirmacion p {
    text-align: center;
    padding: 20px 0;
}

.msj-confirmacion img {
    padding-bottom: 20px;
}

.msj-confirmacion a {
    padding-bottom: 20px;
}

@keyframes movebgIzquierda { /* Animacion del fondo con efecto parallaz */
    0% {
        background-position: 0;
    }
    100%{
        background-position: -2048px;
    }
}

@keyframes movebgDerecha { /* Animacion del fondo con efecto parallaz */
    0% {
        background-position: -2048px;
    }
    100%{
        background-position: 0;
    }
}