header {
    background-image: url('../img/fotoPortada.jpg');
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: drop-shadow(10px 7px 4px rgba(0, 0, 0, 0.40));

}

.Perfil {
    background-color: rgba(173, 173, 173, 0.473);
    border-radius: 15px;
    width: 40%;
    display: flex;
    padding: 5px;
}

.Perfil img {
    margin: 5px 15px 5px 5px;
}

.informacionPerfil {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.informacionPerfil div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.informacionPerfil div p {
    margin-right: 15px;
}

.container{
    display: flex;
    margin-top: 10px;
}

.container-secondary {
    display: flex;
    margin-top: 10px;
    filter: blur(1px);
}

.informacionPersonal {
    left: 100px;
    top: 50px;
}

.estadisticas {
    left: 280px;
    top: 100px
}

.informacion {
    position: relative;
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.658);
}

.informacion h3 {
    border-bottom: 2px solid black;
}

.informacion h4 {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 14px;
}

.informacion span {
    font-size: 16px;
}
.editarPerfil {
    display: flex;
    align-items: center;
    left: 150px;
    bottom: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.editarPerfil img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.publicaciones {
    position: relative;
    left: 200px;   
    
}

/*------- EDITAR PERIL ----------*/
.conteiner-form-edit-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    background-color: #e5e5e5;
    left: 28%;
    bottom: -335px;
    padding: 22px;
}

#form-edit-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.input input, .edit-person input {
    width: 300px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #898989;
}

.input h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid darkgrey;
}

.input label {
    font-size: 14px;
    margin-top: 10px;
}

.input-cuenta p {
    font-size: 12px;
}

.edit-person {
    display: flex;
    flex-direction: column;
}

.btn-action-form {
    display: flex;
}

.btn-action-form button {
    margin: 10px;
    width: 200px;
    cursor: pointer;
    color: white;
    height: 30px;
    border-radius: 10px;
}

#btn-guardar-cambios {
    background-color: #8447FF;
    border: 1px solid;
}

#btn-guardar-cambios:hover {
    background-color: #661AFF;
}

#btn-cancelar {
    background-color: grey;
    border: 1px solid;
}

#btn-cancelar:hover {
    background-color: rgb(97, 96, 96);
}

#msj-cambios-guardados {
    color: green;
    display: none;
}